version: '3.8'

services:
  fastapi:
    build: .
    ports:
      - 8000:8000
    volumes:
      - "./weights:/app/weights"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]